@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a web app that allows you to create and read jokes!</p>
    <p>It's based on the <a href="https://www.youtube.com/watch?v=BfEjDD8mWYg&list=PL1pMgHDqNTw-Lwcgjqa-mhDvMwc11F9dl&index=6">tutorial</a>.</p>
</div>